*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/home.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  

}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #b54d4d;
    margin-left: 40px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    position: relative;
  
}

nav ul li a::after{
    content: '';
    width:0;
    height: 2px;
    background: #ef1057;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    
}

.header-text{
margin-top: 19%;
font-size: 25px;
margin-right: 50%;
margin-bottom: 50%;
}

.header-text h1{
    font-size: 50px;
   
    margin-top: 18px;
}
.header-text h1 span{
    color: #ee0f55;
    
}


@media screen and (max-width: 769px) {

  .container nav ul li {
      
      text-align: center;
      font-size: 10px;
    
  }
  
  
  }
  
      



/********** About Section ********/


html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}


.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #080808;

}

.about img{
    height: auto;
    width: 420px;
}

.about-text{
    width: 500px;
    margin-right: 10%;
    
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 4.9rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 2.9rem;
    text-transform: capitalize;
    margin-bottom: 23px;
    letter-spacing: 2px;
}

span{
    color: #ef1057;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 40px;
}

button{
    background: #ef1057; 
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    transition: .4s;
}
 
button:hover{
    background: transparent;
    border: 2px solid #ef1057;
    cursor: pointer;
}
.main:hover img{
    transform: scale(1.1);
}

.about-img{

width: 100%;
height: 50%;

}

@media screen and (max-width: 769px) {

.about-text h2{
    color: rgb(203, 248, 247);
    text-align: center;
    font-size: 60px;
  
}

.about-text h5{
  font-size: 20px;
}

.about-text p{
  font-size: 15px;
}

 .about .main{
    flex-direction: column;
gap: 7rem;
text-align: center;

}

    
}


/********** Service Section ********/


  html{
      font-size: 62.5%;
  }
  body{
      font-size: 1.6rem;
  }
  
  .service {
    padding: 100px 0;
  }
  
  .max-width {
    max-width: 1400px;
    padding: 0px 45px;
    margin: auto;
  }
  
  .max-width h1 {
    text-align: center;
    position: relative;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
  }
  
  .max-width h1::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    padding: 50px 25px;
    width: calc(26% - 20px);
    border-radius: 6px;
    border: 1px;
    background: #222;
    text-align: center;
    user-select: none;
  }
  .card:hover {
    background-color: #ef1057;
    transform: scale(1.1);
  }
  
  .box {
    transition: all 0.3s ease;
  }
  .card:hover .box {
    transform: scale(1s);
  }
  .box h3 {
    font-size: 25px;
    padding: 10px 0 7px;
  }
  
  @media screen and (max-width: 700px) {
    .card {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .card {
      width: 100%;
    }
  }

  /********** Poftfolio Section ********/


html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),  #ef1057);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color:  #ef1057;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.2);

}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid  #ef1057;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
background:  #ef1057;
}

.sub-tittle{
    text-align: center;
    font-weight: 500;
}

@media screen and (max-width: 836px) {
    .layer {
        grid-template-columns: repeat(1, 1fr);
      margin-bottom: 1px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .work {
      width: 100%;
    }
  }
  
  /********** Contect Section ********/

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.contact-bg{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(image/contact-bg.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #f7327a;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #f7327a;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #f7327a;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
    padding-right: 3%;

}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
  

}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #f7327a;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
   
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}



@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
   
}


@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}



/********** Footer Section ********/


  body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  footer{
     background-color: rgb(8, 1, 1);
     position: relative;
     width: 100%;
     min-height: 350px;
     padding: 3rem 1rem;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  
  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .col{
    min-width: 250px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 2rem;
  }
  .col .logo{
    width: 100px;
    margin-bottom:25px;
  }
  .col h3{
    color:#ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
  }
  .col h3::after{
    content: '';
    height:3px;
    width:0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;
  
  }
  .col h3:hover::after{
    width:30px
  }
  .col .social a i{
    color:#ff014fff;
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
  }
  .col .social a i:hover{
    transform: scale(1.5);
    filter:grayscale(25);
  }
  .col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
  }
  .col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
  }
  .col .links a:hover::before{
    opacity: 1;
  }
  .col .links a:hover{
    transform: translateX(-8px);
    color:#ff014fff;
  }
  .col .contact-details{
    display: inline-flex;
    justify-content: space-between;
  }
  .col .contact-details i{
    margin-right:15px;
  }
  .row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
  }
  .row .form input{
    background-color: rgb(172, 189, 223);
    border:0;
    outline:none;
    padding:14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form button{
    padding:14px 20px;
    border:0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(238, 23, 87);
  }
  
  /********** Responsive Design ********/
  @media(max-width:900px)
  {
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
  }
  @media(max-width:768px)
  {
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  }